
/*---HEADER---*/
@media(min-width: 600px) {
body {
  font-family: 'Spline Sans Mono', monospace; 
  max-width: 100%;
  margin-top: 0px;
  background-color: rgba(240, 232, 209, 0.8);
}

/* STICKY NAV */

 #top-nav-bar {
  display: flex;
  width: 100%;
  list-style: none;
  padding-top: 40px;
  justify-content: space-evenly;
  background-color: rgba(240, 232, 209, 0.8)
}

/* STICKY NAV */
li {
  padding-right: 5%;
  font-size: 14px;
}
.top-nav-number {
  font-weight: 600;
  padding-right: .5px;
}
#resume {
  font-weight: 600;
  color: rgba(235, 37, 6, 0.8);
} 

#name {
  font-weight: 600;
  font-size: 60px;
  margin-top: 60px;
  width:100%;
  text-align: center;
}

/*---BODY---*/

/*--INTRO CONTENT---*/
 .introduction {
  display: flex;
  justify-content: center;
  font-family: 'Spline Sans Mono', monospace;
  font-size: 16px;
  margin-top: 20%;
}
.body-title {
  font-weight: 300;
}
.intro-content {
  display: flex;
  justify-content: center;
}
#selfie {
  border: 1px solid rgba(235, 37, 6, 0.8);
  border-radius: 10px;
  border-radius: 9px;
  margin-left: 30px;
  margin-top: 20px;;
  width: auto;
  height: 18vh;
}
#intro-text {
  width: 40%;
  font-size: 14px;
  margin-left: 30px;
} 


/*--PROJECT CONTENT---*/
  .project-page {
  display: flex;
  justify-content: center;
  font-family: 'Spline Sans Mono', monospace;
  font-size: 16px;
  margin-top: 40%;
}

.project-content {
  justify-content: space-between;
  margin-top: 14px;
  align-content: center; 
}
.project-content {
  display: flex;
  margin-left: 5%;
  margin-right: 5%
}
#project-1 {
  border: 1px solid rgba(235, 37, 6, 0.8);
  border-radius: 10px;
  border-radius: 9px;
  width: auto;
  height: 30vh;
}
#project-2 {
  border: 1px solid rgba(235, 37, 6, 0.8);
  border-radius: 10px;
  border-radius: 9px;
  width: auto;
  height: 30vh;
}
#project-3 {
  border: 1px solid rgba(235, 37, 6, 0.8);
  border-radius: 10px;
  border-radius: 9px;
  width: auto;
  height: 30vh;
} 

/*--EXPERIENCE CONTENT---*/
.experience-page {
  display: flex;
  justify-content: center;
  font-family: 'Spline Sans Mono', monospace;
  font-size: 16px;
  margin-top: 40%;
}
#experience-content {
  justify-content: center;
  margin-left: 10%;
  width: 40%
}

.contact-page {
  display: flex;
  justify-content: center;
  margin-top: 40%;
  align-content: center; 
}
}








/* MEDIA QUERY*/
@media (max-width: 600px) {
  body {
    font-family: 'Spline Sans Mono', monospace; 
    max-width: 100%;
    margin-top: 0px;
    background-color: rgba(240, 232, 209, 0.8);
  }
  
  /* STICKY NAV */
  
   #top-nav-bar {
    display: flex;
    width: 100%;
    list-style: none;
    padding-top: 40px;
    justify-content: center;
    background-color: rgba(240, 232, 209, 0.8)
  }
  
  /* STICKY NAV */
  li {
    padding-right: 4%;
    font-size: 12px;
  }
  .top-nav-number {
    font-weight: 600;
    padding-right: .4px;
  }
  #resume {
    font-weight: 600;
    color: rgba(235, 37, 6, 0.8);
    padding-right: none;
  } 
  
  #name {
    font-weight: 600;
    font-size: 40px;
    margin-top: 60px;
    width:100%;
    text-align: center;
  }
  
  /*---BODY---*/
  
  /*--INTRO CONTENT---*/
   .introduction {
    display: flex;
    justify-content: center;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 14px;
    margin-top: 20%;
  }
  .body-title {
    font-weight: 300;
  }
  .intro-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #selfie {
    border: 1px solid rgba(235, 37, 6, 0.8);
    border-radius: 10px;
    border-radius: 9px;
    margin-left: 30px;
    margin-top: 20px;;
    width: auto;
    height: 30vh;
  }
  #intro-text {
    width: 80%;
    font-size: 14px;
    margin-left: 30px;
  } 
  
  
  /*--PROJECT CONTENT---*/
    .project-page {
    display: flex;
    justify-content: center;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 14px;
    margin-top: 40%;
  }
  
  .project-content {
    margin-top: 14px;
    /* align-content: center;  */
  }
  .project-content {
    display: flex;
    flex-flow: column wrap;
    margin-left: 40px;
    margin-right: 5%;
  }
  #project-1 {
    border: 1px solid rgba(235, 37, 6, 0.8);
    align-items: center;
    border-radius: 10px;
    border-radius: 9px;
    width: auto;
    height: 30vh;
  }
  #project-2 {
    border: 1px solid rgba(235, 37, 6, 0.8);
    border-radius: 10px;
    border-radius: 9px;
    width: auto;
    height: 34vh;
  }
  #project-3 {
    border: 1px solid rgba(235, 37, 6, 0.8);
    border-radius: 10px;
    border-radius: 9px;
    width: auto;
    height: 30vh;
  } 
  
  /*--EXPERIENCE CONTENT---*/
  .experience-page {
    display: flex;
    justify-content: center;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 14px;
    margin-top: 40%;
  }
  #experience-content {
    justify-content: center;
    margin-left: 10%;
    width: 80%;
    font-size: 14px;
  }
  
  .contact-page {
    display: flex;
    justify-content: center;
    margin-top: 40%;
    align-content: center; 
  }
  #experience-text {
    font-size: 14px;
  }
  }
  